<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Web Diary Service</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <style>
    tbody td {
      text-align: left;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      word-wrap:normal;
      }
    a, a:hover{
		color: #000000;
		text-decoration: none;
	}
	.content{
	  max-width: 300px;
	  width: 300px;
	}
	.title{
	  max-width: 155.71px;
	  width: 155.71px;
	}
	.date{
	  max-width: 159.03px;
	  width: 159.03px;
	}
	.writer{
	  max-width: 105.28px;
	  width: 105.28px;
	}

  </style>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsd"
            data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
            aria-expanded="false">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/diary/main">MyHome</a>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li><a href="/diary/main">메인</a></li>
      <li><a href="/diary/members">회원 목록</a></li>
      <li><a href="/diary/calendar">캘린더</a><li>
      <li th:if="${session.mem_id != null}"><a href="/calendar.do/add">일정 추가</a></li>
      <li class="active" th:if="${session.mem_id != null}"><a href="/diary.do/diaries">다이어리</a></li>
      <li><a href="/">인덱스</a><li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li th:if="${session.mem_id == null}"><a href="/diary/login">로그인</a></li>
      <li th:if="${session.mem_id != null}"><a href="/diary/logout">로그아웃</a></li>
      <li th:if="${session.mem_id == null}"><a href="/diary/join">회원가입</a></li>
    </ul>
  </div>
</nav>
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">다이어리</h1>
  </div>
</div>
<div class="container">
  <div class="py-5 text-center">
    <a href="/diary.do/add" class="btn btn-primary pull-right">글 쓰기</a>
    <hr class="my-4">
    <div th:if="${session.mem_id != null}"> <!--로그인을 하면 회원 목록 확인가능-->
      <!--여기부분을 다이어리 게시판 느낌으로 바꾸어야함-->
      <table class="table">
        <thead>
        <tr>
          <th>날짜</th>
          <th>제목</th>
          <th>내용</th>
          <th>작성자</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="diary : ${diaries}">
          <td class="date"><a href="#" th:href="@{/diary.do/{id}(id=${diary.id})}" th:text="${diary.start}">100</a></td>
          <td class="title"><a href="#" th:href="@{/diary.do/{id}(id=${diary.id})}" th:text="${diary.title}">10</a></td>
          <td class="content"><a href="#" th:href="@{/diary.do/{id}(id=${diary.id})}" th:text="${diary.content}">10000</a></td>
          <td class="writer"><a href="#" th:href="@{/diary.do/{id}(id=${diary.id})}" th:text="${diary.writer}">0</a></td>
        </tr>
        </tbody>
      </table>
    </div>
    <hr class="my-4">
  </div> <!-- /container -->
  <div th:include="menu/footer.html" ></div>
</body>
</html>